<p id="notice"><%= notice %></p>

<h1>Listing Food Outlets</h1>


<table id = "foodOutletList">
 <thead>
    <tr>
      <th>Food Outlets</th>
     
    </tr>
  </thead>
   <tbody>
    <% @food_outlets.each do |food_outlets| %>
      <tr>
        <td><%= link_to "#{food_outlets.foodOutletList}", menu_list_path(food_outlets)%></td>
        
      </tr>
    <% end %>
  </tbody>
  
</table>

